/* ==========================================================================
   #RESET
   ========================================================================== */
@import 'reset.css';

body {
    font-family: "Open Sans", Arial;
    color: #34495E;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.c-main-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;

}

.c-main-view__img {
    width: 40%;
    flex-basis: 40%;
    max-width: 40%;
    position: relative;
    height: 100vh;
}

.c-main-view__img img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}

.c-main-view__content {
    padding-left: 120px;

}

.c-main-view__content h2,
.c-main-view__content h1,
.c-main-view__content h3,
.c-main-view__content h4,
.c-modal-box__content h2,
.c-modal-box__content h1,
.c-modal-box__content h3,
.c-modal-box__content h4,
c-modal-box__content {
    font-style: normal;
    font-weight: bold;
    margin-bottom: 15px;

}

.c-main-view__content p,
.c-modal-box__content p {
    margin-bottom: 15px;
    line-height: 1.7
}

.c-main-view__content h2,
.c-modal-box__content h2 {
    font-size: 36px;
}

.c-main-view__content h1,
.c-modal-box__content h1 {
    font-size: 40px;
}

.c-main-view__content h3,
.c-modal-box__content h3 {
    font-size: 32px;
}

.c-main-view__content h4,
.c-modal-box__content h4 {
    font-size: 28px;
}

.c-main-view__content a,
.c-modal-box__content a {
    text-decoration: none;
    color: #34495E;
    font-size: 14px transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    color: #FF4A31;
}

.c-main-view__content a:hover,
.c-modal-box__content a:hover {
    transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    color: #ffa79b;
}

.c-main-view__logo {
    max-width: 100%;
    margin-bottom: 25px;
    display: block;
}

.c-main-view__content form {
    width: 100%;
    margin: 15px 0;

    max-width: 400px;
    display: block;

}

.c-main-view__content form input,
.c-main-view__content form textarea {
    background: #FFFFFF;
    border: 1px solid #CFCFDC;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px 10px;
    outline: none;
    transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    display: block;
    margin: 10px 0;
    font-size: 14px;
}

.c-main-view__content form label,
.c-main-view__content form p {
    font-size: 12px;
    color: #8C96A1;
}

.c-main-view__content form button,
.c-main-view__content form input[type="submit"] {
    background: #FF4A31;
    border: none;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px 10px;
    outline: none;
    transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    display: block;
    margin: 20px 0;
    font-size: 14px;
    color: #fff;
}

.c-form-btn {
    background: #FF4A31;
    border: none;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px 20px;
    outline: none;
    transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    margin: 20px 0;
    font-size: 14px;
    color: #fff !important;
    width: auto;
    text-decoration: none;
    cursor: pointer;
}

.c-form-btn.is-disable {
    opacity: .4;
    pointer-events: none;
    /* cursor:  */
}

.c-main-view__content form button:hover,
.c-main-view__content form input[type="submit"]:hover,
.c-form-btn:hover {
    transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    background: #e74f3a;
}

.c-main-view__content form input:focus,
.c-main-view__content form textarea:focus {
    border-color: #FF4A31;
    transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
}

.c-main-view__links {
    max-width: 400px;
}


.c-modal-box {
    position: fixed;
    z-index: 90;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

.c-modal-box__content {
    background: #FFFFFF;
    border-radius: 5px;
    max-height: calc(90% - 80px);

    max-width: 990px;
    width: 100%;
    padding: 40px;

}

.c-modal-box__txt {

    max-height: calc(90vh - 400px);
    overflow-y: auto;
    margin: 15px 0;
}

.checkbox {
    margin: 10px 0;
    display: block;
    width: 100%;
    position: relative;
}

.checkbox a {
    font-size: 14px;
}

.checkbox a:hover {
    color: #ffa79b;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.checkbox label {
    position: relative;
    display: inline-block;

    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 22px;
    color: #4A4A4A;
    font-size: 16px;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";

    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before {
    height: 14px;
    width: 14px;
    border: 1px solid #34495E;
    left: 0px;
    top: 3px;
    border-radius: 3px;
    color: #fff;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
    height: 5px;
    width: 9px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    left: 3px;
    top: 6px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"]+label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked+label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:checked+label::before {
    outline: none;
    background-color: #FF4A31;
    border-color: #FF4A31;
    color: #fff;
}

.u-full-width-section {
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
}

.u-center-text {
    text-align: center;
}

#login_error,
.message,
.success {
    border-left: 4px solid #00a0d2;
    padding: 12px;
    margin-left: 0;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}

#login_error {
    border-left-color: #dc3232;
}

