

@media(max-width:740px){

  .c-main-view{
    flex-direction: column
  }
  .c-main-view__img{
        width: 100%;
        flex-basis: 100%;
        max-width: 100%;
        position: relative;
        
  }
  .c-main-view__img img{
    position: relative;
    height: 40vh;
  }
  .c-main-view__content,.c-modal-box{
        width: calc(100% - 30px);
        position: relative;
        flex-basis: calc(100% - 30px);
        max-width: calc(100% - 30px);
        padding: 60px 15px;
        margin: 0 auto;
        margin-top: calc( -40vh + 15px);
        position: relative;
        z-index: 10;
        background-color: #fff;
        padding-top: 15px;
  }
.c-main-view__content h2, .c-modal-box__content h2{
    text-align: center;
    font-size: 22px;
    font-weight: 400;
  }
.c-main-view__content p, .c-modal-box__content p {
    text-align: center;
    font-size: 14px;
  }
  .c-modal-box__content p{
    text-align: left;
  }
  .c-main-view__content p br{
    display: none;
  }
  .c-main-view__logo{
    margin-left: auto;
    margin-right: auto;
  }
  .c-modal-box__content {
    background: #FFFFFF;
    border-radius: 5px;
    max-height: none;
    max-width: 990px;
    width: 100%;
    padding: 0;
  }
  .c-modal-box__txt{
    max-height: none;
  }
  .c-form-btn{
    width: 100%;
    text-align: center;
  }
  .has-large-padding-sm{
    margin-top: -10vh;
    min-height: 100vh;
  }
  .c-main-view__content form{
    max-width: none;
    width: 100%;
  }

}